<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- URL Rewrite for Laravel -->
    <rewrite>
      <rules>
        <!-- Remove trailing slash -->
        <rule name="Remove trailing slash" stopProcessing="true">
          <match url="^(.*)/$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
        </rule>
        
        <!-- Laravel Front Controller -->
        <rule name="Laravel Front Controller" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Default Documents -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    
    <!-- Handler Mappings for PHP -->
    <handlers>
      <remove name="PHP-FastCGI" />
      <add name="PHP-FastCGI" path="*.php" verb="GET,HEAD,POST,PUT,DELETE,PATCH,OPTIONS" 
           modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v8.2\php-cgi.exe" 
           resourceType="Either" requireAccess="Script" />
    </handlers>
    
    <!-- Security Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Static Content -->
    <staticContent>
      <!-- Font MIME types -->
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      
      <!-- Cache control -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="31536000" />
    </staticContent>
    
    <!-- Compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <!-- Security -->
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".env" allowed="false" />
          <add fileExtension=".git" allowed="false" />
        </fileExtensions>
        
        <hiddenSegments>
          <add segment="storage" />
          <add segment="bootstrap" />
          <add segment="vendor" />
          <add segment="resources" />
          <add segment="config" />
          <add segment="database" />
          <add segment="routes" />
          <add segment="tests" />
          <add segment="app" />
        </hiddenSegments>
        
        <requestLimits maxAllowedContentLength="104857600" maxQueryString="2048" />
      </requestFiltering>
    </security>
    
    <!-- Error handling -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/index.php" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>